/* Header */
#encabezado {
    background-color: rgb(250, 208, 199); 
    text-align: center;
    padding: 20px;
}

/* Nav */
.navegacion ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.navegacion li {
    display: inline;
    margin: 0 15px;
}

/* Formulario */
#formulario-contacto {
    text-align: center;
    margin-top: 30px;
}

.formulario {
    display: inline-block;
    text-align: left;
}

/* Article */
.contacto-extra {
    background-color: rgb(250, 208, 199);
    padding: 20px;
    margin-top: 30px;
}

.galeria1 {
    float: right;
    width: 250px;
    padding: 10px;
    text-align: center;
}
.galeria2 {
    float: left;
    width: 250px;
    padding: 10px;
    text-align: center;
}

.galeria1 img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}
.galeria2 img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}


/* Footer */
#pie {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
