/* General */
body {
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif;
    background-color: #f4f4f4;
}

/* Header _______________________________________________________________________________________*/
#encabezado {
    background-color: #b3e0f2;
    text-align: center;
    padding: 20px;
    color: #333;
}

#encabezado h1 {
    font-size: 2.5em;
    margin: 0;
}

#encabezado p {
    font-size: 1.2em;
    margin-top: 10px;
}
/*_________________________________________________________________________________________________*/

/* Nav ____________________________________________________________________________________________*/
.navegacion {
    background-color: #e1f3fa; 
    text-align: center;
    padding: 15px 0;
}

.navegacion ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.navegacion a {
    text-decoration: none;
    font-size: 1.2em;
    color: #000;
    font-weight: bold;
}
/*_________________________________________________________________________________________________*/

/* SECCION MUSEOS__________________________________________________________________________________ */
.museo {
    display: flex;/*aplico flex para manipular section principalmente para poner la imagen al lado*/
    padding: 20px;
    background-color: #ffffff;
    margin: 20px auto;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.museo div {
    direction: column;
}



/* Contenido del museo */
.museo h2 {
    color: #0077a6; /*color del titulo del museo*/
}

.museo ul {
    padding-left: 20px; /*tamaño de letra de la lista*/
}

.museo img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

/* Aside_imagen */
.galeria {
    background-color: #a2c6cc;
    padding: 10px;/*espacio en margen*/
    border-radius: 10px;/*redondeamos las esquinas*/
    justify-content: center;/*centramos la imagen*/
}
/*_____________________________________________________________________________________________________________________*/

/* Article de referencias_____________________________________________________________________________________________ */
.referencias {
    background-color: #e8faff;/*color de fondo*/
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    border-radius: 10px; /*redondeamos las esquinas*/
    font-style: italic;/*estilo de la letra*/
}
.referencias p{
    text-align: center;
}
/*_____________________________________________________________________________________________________________________*/

/* Footer ____________________________________________________________________________________________________________*/
#pie {
    background-color: #000; /*Aplicamos un fondo negro*/
    color: #fff;/*color de letra*/
    text-align: center;/*lo alineamos en el centro*/
    padding: 15px; /*espacio en margen*/
    font-size: 0.9em;/*tamaño del texto*/
}
